.idea
.ropeproject/
.cache
__pycache__
*.sqlite3
.coverage
.pytest_cache
celerybeat-schedule
db/
media
.vscode

# jupyter notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# mypy
.mypy_cache/
.incremental_checker_cache.json
dmypy.json
.dmypy.json
